<div class="row">

  <div class="col-lg-12">
    <section class="panel">
      <header class="panel-heading">
        Telefonos <%= @language.name %>
      </header>
      <div class="panel-body">
        <div class="adv-table">


          <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">




            <div class="row-fluid">
              <div class="span6">
                <%= link_to 'Agregar Teléfono', new_language_phone_path, :class=>'btn btn-shadow btn-primary' %>
                <br/><br/>
              </div>
            </div>
            <table class="display table table-bordered table-striped dataTable" id="example" aria-describedby="example_info">
              <thead>


              <th rowspan="1" colspan="1">Nombre</th>
              <th rowspan="1" colspan="1">Teléfono</th>
              <th rowspan="1" colspan="1">Acciones</th>

              </thead>

              <tfoot>
              <tr>

                <th rowspan="1" colspan="1">Nombre</th>
                <th rowspan="1" colspan="1">Teléfono</th>
                <th rowspan="1" colspan="1">Acciones</th>



              </tfoot>
              <tbody role="alert" aria-live="polite" aria-relevant="all">

              <%  @phones.each do |lang|  %>

                  <tr class="gradeX odd">
                    <td class=" "><%= lang.name %></td>
                    <td class=" "><%= lang.phone %></td>
                    <td>
                      <%= link_to 'Editar', edit_language_phone_path(lang.language_id, lang.id), :class=>'btn btn-info' %>

                      <%= link_to 'Eliminar', {:controller => 'phones', :action => 'destroy', :id => lang.id}, :data => {:confirm => 'Estas seguro de eliminar este elemento?'}, :method => 'DELETE',  :class=>'btn btn-danger' %>


                    </td>


                  </tr>
              <% end %>



              </tbody>
            </table>
            <div class="row-fluid">
              <div class="span6">

              </div>
              <div class="span6"><div class="dataTables_paginate paging_bootstrap pagination">

              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>




<% content_for :head do %>


    <%= stylesheet_link_tag    'advanced-datatable/media/css/demo_page',
                               'advanced-datatable/media/css/demo_table',
                               'data-tables/DT_bootstrap'
    %>


<% end %>
