<div class="container">


    <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
    <h2 class="form-signin-heading">Traductores</h2>
    <div class="login-wrap">

      <%= f.email_field :email, autofocus: true, :class => 'form-control', :type=>'text', :placeholder=>'Ingrese su email' %>
      <%= f.password_field :password, autocomplete: "off", :class => 'form-control', :placeholder=>'Ingrese su clave'  %>

      <%= f.submit "Ingresar", :class=>'btn btn-lg btn-login btn-block' %>



      <div class="registration">
        <%= render "devise/shared/links" %>
      </div>

    </div>

    <!-- Modal -->
    <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Forgot Password ?</h4>
          </div>
          <div class="modal-body">
            <p>Enter your e-mail address below to reset your password.</p>
            <input type="text" name="email" placeholder="Email" autocomplete="off" class="form-control placeholder-no-fix">

          </div>
          <div class="modal-footer">
            <button data-dismiss="modal" class="btn btn-default" type="button">Cancel</button>
            <button class="btn btn-success" type="button">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <!-- modal -->

    <% end %>

</div>